.btn {
  &,
  &:link,
  &:visited {
    font-size: $default-font-size;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;

    border: none;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      transform: scale(1.3);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    color: $color-grey-dark;
    background-color: $color-white;
    &:hover::after {
      background-color: $color-white;
    }
  }

  &--green {
    color: $color-white;
    background-color: $color-primary;
    &:hover::after {
      background-color: $color-primary;
    }
  }

  &--animated {
    animation: moveInDown 0.6s ease-out 1s both;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-white;
    border-radius: 10rem;
    z-index: -1;
    transition: all ease-out 0.5s;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: 1.8rem;
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    text-decoration: none;
    padding: 3px;
    display: inline-block;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
